@model FoxReport.Models.InitShow

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Fox Report</title>
    <link href="~/css/SpryTabbedPanels.css" rel="stylesheet" />
    <link href="~/js/kindeditor/themes/simple/simple.css" rel="stylesheet" />
    <link href="~/css/fox.css" rel="stylesheet" />

    <script src="~/js/jquery1.7.2.js"></script>
    <script src="~/js/SpryTabbedPanels.js"></script>
    <script src="~/js/kindeditor/kindeditor-all.js"></script>
    <script src="~/js/kindeditor/lang/zh-CN.js"></script>
    <script src="~/js/fox.js"></script>
</head>
<body>
    <div id="leftMenu">
        <ul class="nav">
            <li><a href="#">项目</a></li>
            <li><a href="#">管理</a></li>
            <li><a href="#">设置</a></li>
        </ul>
    </div>
    <div id="rightContent">
        <a href="Home/Download/2" target="_blank">下载测试</a>
        <div>
            <table>
                <tr>
                    <td><div class="topTitle">业务范围：</div></td>
                    <td><input type="radio" id="countryIn" name="radioCountry" /><label for="countryIn">国内</label>
                        <input type="radio" id="countryOut" name="radioCountry" /><label for="countryOut">国外</label>
                    </td>
                    <td><div class="topTitle">时间段：</div></td>
                    <td>
                        <select id="ddlQ">
                            <option>2016Q1</option>
                            <option>2016Q2</option>
                            <option>2016Q3</option>
                            <option>2016Q4</option>
                        </select>

                    </td>
                    <td><div class="topTitle">周次：</div></td>
                    <td>
                        <select id="ddlWeek">
                            <option>2016Q1</option>
                            <option>2016Q2</option>
                            <option>2016Q3</option>
                            <option>2016Q4</option>
                        </select>
                    </td>
                    <td><div class="topTitle">项目：</div></td>
                    <td>
                        <select id="ddlProject">
                            <option>2016Q1</option>
                            <option>2016Q2</option>
                            <option>2016Q3</option>
                            <option>2016Q4</option>
                        </select>
                    </td>
                    <td><div class="topTitle">负责人：</div></td>
                    <td>
                        <select id="ddlManager">
                            <option>2016Q1</option>
                            <option>2016Q2</option>
                            <option>2016Q3</option>
                            <option>2016Q4</option>
                        </select>
                    </td>                    
                </tr>
            </table>
        </div>

        <div id="editLayer">
            <input type="hidden" id="editId" value="" />            
            <textarea id="keText"></textarea>
            <div id="btnBox">
                <button id="btnSubmit" onclick="saveText();" class="btnSave">保存</button>
                <button id="btnCancel" onclick="cancelText();" class="btnCancel">取消</button>
            </div>            
        </div>

        <div class="projectTitle"><h1><span id="countryText">国内</span>:项目名称</h1></div>
        <div class="panelTitle">一、整体概况</div>
        <div class="TabbedPanels" id="Summary">
            <ul class="TabbedPanelsTabGroup">
                <li id="TargetStrategy" class="TabbedPanelsTab">目标与策略</li>
                <li id="Version" class="TabbedPanelsTab">版本概况</li>                
                <li id="Feedback" class="TabbedPanelsTab">用户反馈</li>                
            </ul>
            <div class="TabbedPanelsContentGroup">
                <div id="Summary_TargetStrategy" class="TabbedPanelsContent">
                    <table id="tbTargetStrategy" class="tbContent">
                        <tr class="trContent"><th>项目名称</th><th>目标(现状)</th><th>策略与措施</th></tr>
                    @foreach (var item in Model.SummaryTargetStrategyList)
                    {
                        <tr id="trTargetStrategy@(item.Id)" class="trContent">
                            <td><div id="Summary_TargetStrategy_ProjectName_@(item.Id)">@Html.Raw(item.ProjectName)</div><button onclick="editText(this);" class="btnEdit"></button></td>                            
                            <td><div id="Summary_TargetStrategy_Target_@(item.Id)">@Html.Raw(item.Target)</div><button onclick="editText(this);" class="btnEdit"></button></td>
                            <td><div id="Summary_TargetStrategy_Strategy_@(item.Id)">@Html.Raw(item.Strategy)</div><button onclick="editText(this);" class="btnEdit"></button></td>
                        </tr>
                    }
                        <tr id="trNewTargetStrategy" class="trContent">
                            <td><div id="Summary_TargetStrategy_ProjectName_0"></div><button onclick="editText(this);" class="btnEdit"></button></td>                            
                            <td><div id="Summary_TargetStrategy_Target_0"></div><button onclick="editText(this);" class="btnEdit"></button></td>
                            <td><div id="Summary_TargetStrategy_Strategy_0"></div><button onclick="editText(this);" class="btnEdit"></button></td>
                        </tr>
                    </table>
                </div>
                <div id="Summary_Version" class="TabbedPanelsContent"></div>
                <div id="Summary_Feedback" class="TabbedPanelsContent"></div>
            </div>
        </div>
       
        <div>二、项目概况</div>
    @foreach(var item in @Model.ProjectInfoList){
        <div class="projectBox">
            <div id="Project_@(item.Id)" class="projectName"><i class="projectArrow arrowDown"></i>项目名称：@(item.ProjectName)</div>
            <div class="TabbedPanels Hide" id="ProjectInfo_@(item.Id)">
                <ul class="TabbedPanelsTabGroup">
                    <li id="Target_@(item.Id)" class="TabbedPanelsTab">目标与近期重点</li>
                    <li id="Progress_@(item.Id)" class="TabbedPanelsTab">项目进展</li>
                    <li id="Teamwork_@(item.Id)" class="TabbedPanelsTab">团队工作方式优化</li>
                    <li id="VersionDetail_@(item.Id)" class="TabbedPanelsTab">版本详情</li>
                    <li id="VersionQuality_@(item.Id)" class="TabbedPanelsTab">版本质量分析</li>
                </ul>
                <div class="TabbedPanelsContentGroup">
                    <div id="ProjectInfo_Target_@(item.Id)" class="TabbedPanelsContent">
                        <table id="tbTarget_@(item.Id)" class="tbContent">
                            <tr id="trTarget_@(item.Id)" class="trContent">
                                <td><div id="Project_Info_Target_@(item.Id)">@Html.Raw(item.Target)</div><button onclick="editText(this);" class="btnEdit"></button></td>
                            </tr>
                        </table>
                    </div>
                    <div id="ProjectInfo_Progress_@(item.Id)" class="TabbedPanelsContent"></div>
                    <div id="ProjectInfo_Teamwork_@(item.Id)" class="TabbedPanelsContent"></div>
                    <div id="ProjectInfo_VersionDetail_@(item.Id)" class="TabbedPanelsContent"></div>                    
                    <div id="ProjectInfo_VersionQuality_@(item.Id)" class="TabbedPanelsContent"></div>
                </div>
            </div>
            <script type="text/javascript">
                var ProjectInfo_@(item.Id) = new Spry.Widget.TabbedPanels("ProjectInfo_@(item.Id)", { defaultTab: 0 });
            </script>
        </div>
    }

        <div class="panelTitle">三、重点事务 产品事务</div>
        <div class="TabbedPanels" id="Affair">
            <ul class="TabbedPanelsTabGroup">
                <li id="Product" class="TabbedPanelsTab">产品事务</li>
            </ul>
            <div class="TabbedPanelsContentGroup">
                <div id="Affair_Product" class="TabbedPanelsContent">
                    <table id="tbProduct" class="tbContent">
                        <tr class="trContent"><th>分类</th><th>优先级</th><th>负责人</th><th>工作计划</th><th>进展情况</th></tr>
                    @foreach (var item in Model.AffairProductList)
                    {
                        <tr id="trProduct@(item.Id)" class="trContent">
                            <td><div id="Affair_Product_Classify_@(item.Id)">@Html.Raw(item.Classify)</div><button onclick="editText(this);" class="btnEdit"></button></td>                            
                            <td><div id="Affair_Product_Priority_@(item.Id)">@Html.Raw(item.Priority)</div><button onclick="editText(this);" class="btnEdit"></button></td>
                            <td><div id="Affair_Product_Tracker_@(item.Id)">@Html.Raw(item.Tracker)</div><button onclick="editText(this);" class="btnEdit"></button></td>
                            <td><div id="Affair_Product_Workplan_@(item.Id)">@Html.Raw(item.Workplan)</div><button onclick="editText(this);" class="btnEdit"></button></td>
                            <td><div id="Affair_Product_Progress_@(item.Id)">@Html.Raw(item.Progress)</div><button onclick="editText(this);" class="btnEdit"></button></td>
                        </tr>
                    }
                        <tr id="trNewProduct" class="trContent">
                            <td><div id="Affair_Product_Classify_0"></div><button onclick="editText(this);" class="btnEdit"></button></td>                            
                            <td><div id="Affair_Product_Priority_0"></div><button onclick="editText(this);" class="btnEdit"></button></td>
                            <td><div id="Affair_Product_Tracker_0"></div><button onclick="editText(this);" class="btnEdit"></button></td>
                            <td><div id="Affair_Product_Workplan_0"></div><button onclick="editText(this);" class="btnEdit"></button></td>
                            <td><div id="Affair_Product_Progress_0"></div><button onclick="editText(this);" class="btnEdit"></button></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <div class="panelTitle">问题与求助</div>
        <div class="TabbedPanels" id="Problem">
            <ul class="TabbedPanelsTabGroup">
                <li class="TabbedPanelsTab">重点事务</li>
                <li class="TabbedPanelsTab">求助项</li>
                <li class="TabbedPanelsTab">改进项</li>
            </ul>
            <div class="TabbedPanelsContentGroup">
                <div id="PanelProblemContent0" class="TabbedPanelsContent">
                    <table id="tbProblem" class="tbContent">
                        <tr class="trContent"><th>分类</th><th>优先级</th><th>负责人</th><th>工作计划</th><th>进展情况</th></tr>
                        <tr id="trNewProblem" class="trContent"><td></td><td></td><td></td><td></td><td></td></tr>
                    </table>
                </div>
                <div id="PanelProblemContent1" class="TabbedPanelsContent"></div>
                <div id="PanelProblemContent2" class="TabbedPanelsContent"></div>
            </div>
        </div>

    </div>
</body>
</html>
