@model FoxReport.Models.ReportData

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style type="text/css">
.tdBorder {
    border:solid 1px #ccc; padding:5px 1px;
    font-size:10pt;
}
.thTitle {
    border:solid 1px #999; 
    background-color:#c1c1c1;
    font-size:10pt;
    padding:5px 1px;    
}
.sumT1C1{ width:20%; }
.sumT1C2, .sumT1C3{ width:40%; }

.sumT2C1{ width:20%; } 
.sumT2C2, .sumT2C4 { width:34%;}
.sumT2C3{ width:12%; }

.sumT3C1{ width:6%; } 
.sumT3C2{ width:10%; } 
.sumT3C3{ width:34%; } 
.sumT3C4{ width:9%; } 
.sumT3C5{ width:7%; } 
.sumT3C6{ width:34%; } 

.sumT4C1{ width:6%; } 
.sumT4C2{ width:10%; } 
.sumT4C3{ width:25%; } 
.sumT4C4{ width:9%; } 
.sumT4C5{ width:25%; } 
.sumT4C6{ width:25%; } 

.productT1C1 { width:6%; } 
.productT1C2 { width:10%; }
.productT1C3 { width:8%; }
.productT1C4 { width:38%; } 
.productT1C5 { width:38%; }

.teamworkDiv, .assistDiv {
    margin:5px 0; border:1px solid #ccc;
    padding:5px;
}
    </style>
</head>
<body>
    <div style="width:100%;">
        <div style="text-align:center;">
        <h1>@ViewBag.ReportTitle</h1>
        </div>
        <p>&nbsp;</p>
        <h3>一、国内@(Model.ReportName)</h3>
        <h4>1、目标与策略</h4>
        <div style="width:100%;">
        
        <table style="border-collapse:collapse; border:0; width:100%;">
            <tr style="width:100%;">
                <th class="thTitle sumT1C1">项目名称</th>　
                <th class="thTitle sumT1C2">目标(现状)</th>
                <th class="thTitle sumT1C3">策略与措施</th>
            </tr>
        @foreach (var item in Model.SummaryTargetStrategyList)
        {
            if(item.IsForeign == 0)
            {
            <tr>
                <td class="tdBorder sumT1C1">@item.ProjectName</td>                           
                <td class="tdBorder sumT1C2">@Html.Raw(item.Target)</td>
                <td class="tdBorder sumT1C3">@Html.Raw(item.Strategy)</td>
            </tr>
            }
        }
        </table>         
        </div>

        <h4>2、版本概况</h4>
        <div style="width:100%;">        
        <table style="border-collapse:collapse; border:0; width:100%;">
            <tr style="width:100%;">
                <th class="thTitle sumT2C1">项目名称</th>
                <th class="thTitle sumT2C2">核心需求</th>
                <th class="thTitle sumT2C3">计划发布</th>
                <th class="thTitle sumT2C4">进展与风险</th>
            </tr>
        @foreach (var item in Model.SummaryVersionList)
        {
            if(item.IsForeign == 0)
            {
            <tr style="width:100%;">
                <td class="tdBorder sumT2C1">@item.ProjectName</td>
                <td class="tdBorder sumT2C2">@Html.Raw(item.Request)</td>
                <td class="tdBorder sumT2C3">@Html.Raw(item.Publish)</td>
                <td class="tdBorder sumT2C4">@Html.Raw(item.Risk)</td>
            </tr>
            }
        }
            </table>
       </div>
        <h4>3、用户反馈</h4>
        <h4>A、TOP问题</h4>
        <div style="width:100%;">
            <table style="border-collapse:collapse; border:0; width:100%;">
            <tr>
                <th class="thTitle sumT3C1">序号</th>
                <th class="thTitle sumT3C2">平台</th>
                <th class="thTitle sumT3C3">问题概要</th>
                <th class="thTitle sumT3C4">跟进人</th>
                <th class="thTitle sumT3C5">状态</th>
                <th class="thTitle sumT3C6">跟进情况</th>
            </tr>
        @foreach (var item in Model.SummaryFeedbackList)
        {
            if(item.IsForeign == 0)
            {
            <tr>
                <td class="tdBorder sumT3C1">@item.Seq</td>
                <td class="tdBorder sumT3C2">@item.Platform</td>
                <td class="tdBorder sumT3C3">@Html.Raw(item.Issue)</td>
                <td class="tdBorder sumT3C4">@item.Tracker</td>
                <td class="tdBorder sumT3C5">@item.Status</td>
                <td class="tdBorder sumT3C6">@Html.Raw(item.TrackInfo)</td>
            </tr>
            }
        }
            </table>
             </div>   
        <h4>B、用户建议</h4>
        <div style="width:100%;">
        <table style="border-collapse:collapse; border:0; width:100%;">
            <tr>
                <th class="thTitle sumT4C1">序号</th>
                <th class="thTitle sumT4C2">平台</th>
                <th class="thTitle sumT4C3">建议内容</th>
                <th class="thTitle sumT4C4">反馈用户数</th>
                <th class="thTitle sumT4C5">影响用户体验描述</th>
                <th class="thTitle sumT4C6">跟进情况</th>
            </tr>
        @foreach (var item in Model.SummarySuggestList)
        {
            if(item.IsForeign == 0)
            {
            <tr>
                <td class="tdBorder sumT4C1">@item.Seq</td>
                <td class="tdBorder sumT4C2">@item.Platform</td>
                <td class="tdBorder sumT4C3">@Html.Raw(item.SuggestContent)</td>
                <td class="tdBorder sumT4C4">@item.UserCount</td>
                <td class="tdBorder sumT4C5">@Html.Raw(item.Issue)</td>
                <td class="tdBorder sumT4C6">@Html.Raw(item.TrackInfo)</td>
            </tr>
            }
        }
            </table>
        </div>
        <h4>4、各项目概况</h4>
    @for (int i = 0, num = 1; i < Model.ProjectInfoList.Count; i++)
    {
        if(Model.ProjectInfoList[i].IsForeign == 0)
        {
        <p>4.@(num++) 项目名称：@Model.ProjectInfoList[i].ProjectName</p>
        <h5>（1）目标与近期重点</h5>
        <div>
            @Html.Raw(Model.ProjectInfoList[i].Target)
        </div>
        <h5>（2）项目进展</h5>
        <div>
            @Html.Raw(Model.ProjectInfoList[i].Progress)
        </div>
        <h5>（3）团队工作方式优化</h5>
        <div>
            @Html.Raw(Model.ProjectInfoList[i].Teamwork)
        </div>
        <h5>（4）版本详情</h5>
        <div>
            @Html.Raw(Model.ProjectInfoList[i].VersionDetail)
        </div>
        <h5>（5）版本质量分析</h5>
        <div>
            @Html.Raw(Model.ProjectInfoList[i].VersionQuality)
        </div>
        }
    }
        
       <h3>二、国外@(Model.ReportName)</h3>
        <h4>1、目标与策略</h4>
        <div style="width:100%;">
        <table style="border-collapse:collapse; border:0; width:100%;">
            <tr>
                <th class="thTitle sumT1C1">项目名称</th>　
                <th class="thTitle sumT1C2">目标(现状)</th>
                <th class="thTitle sumT1C3">策略与措施</th>
            </tr>
        @foreach (var item in Model.SummaryTargetStrategyList)
        {
            if(item.IsForeign == 1)
            {
            <tr>
                <td class="tdBorder sumT1C1">@item.ProjectName</td>                           
                <td class="tdBorder sumT1C2">@Html.Raw(item.Target)</td>
                <td class="tdBorder sumT1C3">@Html.Raw(item.Strategy)</td>
            </tr>
            }
        }
        </table>
        </div>
        <h4>2、版本概况</h4>
        <div style="width:100%;">
        <table style="border-collapse:collapse; border:0; width:100%;">
            <tr>
                <th class="thTitle sumT2C1">项目名称</th>
                <th class="thTitle sumT2C2">核心需求</th>
                <th class="thTitle sumT2C3">计划发布</th>
                <th class="thTitle sumT2C4">进展与风险</th>
            </tr>
        @foreach (var item in Model.SummaryVersionList)
        {
            if(item.IsForeign == 1)
            {
            <tr>
                <td class="tdBorder sumT2C1">@item.ProjectName</td>
                <td class="tdBorder sumT2C2">@Html.Raw(item.Request)</td>
                <td class="tdBorder sumT2C3">@Html.Raw(item.Publish)</td>
                <td class="tdBorder sumT2C4">@Html.Raw(item.Risk)</td>
            </tr>
            }
        }
            </table>
       </div>
        <h4>3、用户反馈</h4>
        <h4>A、TOP问题</h4>
        <div style="width:100%;">
        <table style="border-collapse:collapse; border:0; width:100%;">
            <tr>
                <th class="thTitle sumT3C1">序号</th>
                <th class="thTitle sumT3C2">平台</th>
                <th class="thTitle sumT3C3">问题概要</th>
                <th class="thTitle sumT3C4">跟进人</th>
                <th class="thTitle sumT3C5">状态</th>
                <th class="thTitle sumT3C6">跟进情况</th>
            </tr>
        @foreach (var item in Model.SummaryFeedbackList)
        {
            if(item.IsForeign == 1)
            {
            <tr>
                <td class="tdBorder sumT3C1">@item.Seq</td>
                <td class="tdBorder sumT3C2">@item.Platform</td>
                <td class="tdBorder sumT3C3">@Html.Raw(item.Issue)</td>
                <td class="tdBorder sumT3C4">@item.Tracker</td>
                <td class="tdBorder sumT3C5">@item.Status</td>
                <td class="tdBorder sumT3C6">@Html.Raw(item.TrackInfo)</td>
            </tr>
            }
        }
            </table>
        </div>        
        <h4>B、用户建议</h4>
        <div style="width:100%;">
        <table style="border-collapse:collapse; border:0; width:100%;">
            <tr>
                <th class="thTitle sumT4C1">序号</th>
                <th class="thTitle sumT4C2">平台</th>
                <th class="thTitle sumT4C3">建议内容</th>
                <th class="thTitle sumT4C4">反馈用户数</th>
                <th class="thTitle sumT4C5">影响用户体验描述</th>
                <th class="thTitle sumT4C6">跟进情况</th>
            </tr>
        @foreach (var item in Model.SummarySuggestList)
        {
            if(item.IsForeign == 1)
            {
            <tr>
                <td class="tdBorder sumT4C1">@item.Seq</td>
                <td class="tdBorder sumT4C2">@item.Platform</td>
                <td class="tdBorder sumT4C3">@Html.Raw(item.SuggestContent)</td>
                <td class="tdBorder sumT4C4">@item.UserCount</td>
                <td class="tdBorder sumT4C5">@Html.Raw(item.Issue)</td>
                <td class="tdBorder sumT4C6">@Html.Raw(item.TrackInfo)</td>
            </tr>
            }
        }
            </table>
        </div>
        <h4>4、各项目概况</h4>
    @for (int i = 0, num = 1; i < Model.ProjectInfoList.Count; i++ )
    {
        if(Model.ProjectInfoList[i].IsForeign == 1)
        {
        <p>4.@(num++) 项目名称：@Model.ProjectInfoList[i].ProjectName</p>
        <h5>（1）目标与近期重点</h5>
        <div>
            @Html.Raw(Model.ProjectInfoList[i].Target)
        </div>
        <h5>（2）项目进展</h5>
        <div>
            @Html.Raw(Model.ProjectInfoList[i].Progress)
        </div>
        <h5>（3）团队工作方式优化</h5>
        <div>
            @Html.Raw(Model.ProjectInfoList[i].Teamwork)
        </div>
        <h5>（4）版本详情</h5>
        <div>
            @Html.Raw(Model.ProjectInfoList[i].VersionDetail)
        </div>
        <h5>（5）版本质量分析</h5>
        <div>
            @Html.Raw(Model.ProjectInfoList[i].VersionQuality)
        </div>
        }
    }

        <h3>三、重点事务</h3>
        <h4>产品事务</h4>
        <div style="width:100%;">
        <table style="border-collapse:collapse; border:0; width:100%;">
            <tr>
                <th class="thTitle productT1C1">分类</th>
                <th class="thTitle productT1C2">优先级</th>
                <th class="thTitle productT1C3">负责人</th>
                <th class="thTitle productT1C4">工作计划</th>
                <th class="thTitle productT1C5">进展情况</th>
            </tr>
        @foreach (var item in Model.AffairProductList)
        {
            <tr>
                <td class="tdBorder productT1C1">@item.Classify</td>                            
                <td class="tdBorder productT1C2">@item.Priority</td>
                <td class="tdBorder productT1C3">@item.Tracker</td>
                <td class="tdBorder productT1C4">@Html.Raw(item.Workplan)</td>
                <td class="tdBorder productT1C5">@Html.Raw(item.Progress)</td>
            </tr>
        }
        </table>
        </div>
        <h3>四、团队工作方式优化</h3>
        @foreach(var item in Model.TeamworkInfoList){            
        <div class="teamworkDiv">
            @Html.Raw(item.Content)
        </div>
        <p style="height:5px; margin:0;">&nbsp;</p>
        }

        <h3>五、需要的协助和支持</h3>
        @foreach(var item in Model.TeamworkInfoList){            
        <div class="assistDiv">
            @Html.Raw(item.Content)
        </div>
        <p style="height:5px; margin:0;">&nbsp;</p>
        }
    </div>
</body>
</html>
