@model IEnumerable<FoxReport.Models.SummarySuggest>

<table id="tbSuggest" class="tbContent">
    <tr class="trContent"><th class="thSum4_1">序号</th><th class="thSum4_2">平台</th><th class="thSum4_3">建议内容</th><th class="thSum4_4">反馈用户数</th><th class="thSum4_5">影响用户体验描述</th><th class="thSum4_6">跟进情况</th><th class="deleteTH">删除</th></tr>
@foreach (var item in Model)
{
    <tr id="trSuggest@(item.Id)" class="trContent">
        <td><div id="Summary_Suggest_Seq_@(item.Id)"><input id="SuggestSeq_@(item.Id)" class="seq" min="1" max="99" type="number" onblur="SetSeq(this);" old="@item.Seq" value="@item.Seq" /></div></td>
        <td><div id="Summary_Suggest_Platform_@(item.Id)"> <input onblur="saveColumnTextValue(this, 'Summary_Suggest', 'Platform')" old="@item.Platform" value="@item.Platform" maxlength="50" class="platform" type="text" /> </div></td>
        <td><div id="Summary_Suggest_SuggestContent_@(item.Id)">@Html.Raw(item.SuggestContent)</div><button onclick="editText(this);" class="btnEdit"></button></td>
        <td><div id="Summary_Suggest_UserCount_@(item.Id)"> <input onblur="saveColumnTextValue(this, 'Summary_Suggest', 'UserCount')" old="@item.UserCount" value="@item.UserCount" maxlength="50" class="feedbackCount" type="text" /> </div></td>
        <td><div id="Summary_Suggest_Issue_@(item.Id)">@Html.Raw(item.Issue)</div><button onclick="editText(this);" class="btnEdit"></button></td>
        <td><div id="Summary_Suggest_TrackInfo_@(item.Id)">@Html.Raw(item.TrackInfo)</div><button onclick="editText(this);" class="btnEdit"></button></td>
        <td><button onclick="deleteData('Summary_Feedback', @(item.Id));" class="btnDeleteData"></button></td>
    </tr>
}
    <tr id="trNewSuggest" class="trContent trNewRow">
        <td><div id="Summary_Suggest_Seq_0"><input id="SuggestSeq_0" class="seq" min="1" max="99" type="number" onblur="SetSeq(this);" old="" value="" /></div></td>                            
        @*<td><div id="Summary_Suggest_Platform_0"></div><button onclick="editText(this);" class="btnEdit"></button></td>*@
        <td><div id="Summary_Suggest_Platform_0"><input onblur="saveColumnTextValue(this, 'Summary_Suggest', 'Platform')" maxlength="50" class="platform" type="text" /></div></td>
        <td><div id="Summary_Suggest_SuggestContent_0"></div><button onclick="editText(this);" class="btnEdit"></button></td>
        @*<td><div id="Summary_Suggest_UserCount_0"></div><button onclick="editText(this);" class="btnEdit"></button></td>*@
        <td><div id="Summary_Suggest_UserCount_0"><input onblur="saveColumnTextValue(this, 'Summary_Suggest', 'UserCount')" maxlength="50" class="feedbackCount" type="text" /></div></td>
        <td><div id="Summary_Suggest_Issue_0"></div><button onclick="editText(this);" class="btnEdit"></button></td>
        <td><div id="Summary_Suggest_TrackInfo_0"></div><button onclick="editText(this);" class="btnEdit"></button></td>
        <td><button onclick="deleteData('', 0);" class="btnDeleteData"></button></td>
    </tr>
</table>
<div class="pageDiv">
    <span class="totalCount">总记录数：@ViewBag.TotalCount</span>
@if(ViewBag.TotalPage > 1){
    for(int i = 1; i <= ViewBag.TotalPage; i++)
    {
        if (ViewBag.PageIndex == i)
        {
    <span class="activeLink">@i</span>
        }else{
    <a href="javascript:void(0);" onclick="gotoPage('Summary', @i , 'Suggest')">@i</a>
        }
    }
}
</div>