@model IEnumerable<FoxReport.Models.SummaryFeedback>

<table id="tbFeedback" class="tbContent">
    <tr class="trContent"><th class="thSum3_1">序号</th><th class="thSum3_2">平台</th><th class="thSum3_3">问题概要</th><th class="thSum3_4">跟进人</th><th class="thSum3_5">状态</th><th class="thSum3_6">跟进情况</th><th class="deleteTH">删除</th></tr>
@foreach (var item in Model)
{
    <tr id="trFeedback@(item.Id)" class="trContent">
        <td><div id="Summary_Feedback_Seq_@(item.Id)"><input id="FeedbackSeq_@(item.Id)" onkeyup="onlyNumber(this);" maxlength="2" class="seq" type="text" onblur="saveColumnTextValue(this, 'Summary_Feedback', 'Seq');" old="@item.Seq" value="@item.Seq" /></div></td>
        <td><div id="Summary_Feedback_Platform_@(item.Id)"> <input onblur="saveColumnTextValue(this, 'Summary_Feedback', 'Platform')" old="@item.Platform" value="@item.Platform" maxlength="50" class="platform" type="text" /> </div></td>
        <td><div id="Summary_Feedback_Issue_@(item.Id)">@Html.Raw(item.Issue)</div><button onclick="editText(this);" class="btnEdit"></button></td>
        <td><div id="Summary_Feedback_Tracker_@(item.Id)">
            <select id="ddlTracker_Feedback_@(item.Id)" onchange="ddlTrackerChange(this, 'Summary_Feedback', 'Tracker');">
                <option value=""></option>
                @foreach (var u in ViewBag.UserList)
                {
                    <option value="@u.UserId" @(u.UserId == item.Tracker ? " selected='selected'" : "")>@u.UserName</option>
                }
            </select>
            </div></td>
        <td><div id="Summary_Feedback_Status_@(item.Id)"> <input onblur="saveColumnTextValue(this, 'Summary_Feedback', 'Status')" old="@item.Status" value="@item.Status" maxlength="50" class="status" type="text" /> </div></td>
        <td><div id="Summary_Feedback_TrackInfo_@(item.Id)">@Html.Raw(item.TrackInfo)</div><button onclick="editText(this);" class="btnEdit"></button></td>
        <td><button onclick="deleteData('Summary_Suggest', @(item.Id));" class="btnDeleteData"></button></td>
    </tr>
}
    <tr id="trNewFeedback" class="trContent trNewRow">
        <td><div id="Summary_Feedback_Seq_0"><input id="FeedbackSeq_0" onkeyup="onlyNumber(this);" maxlength="2" class="seq" type="text" onblur="saveColumnTextValue(this, 'Summary_Feedback', 'Seq');" old="" value="" /></div></td>                            
        <td><div id="Summary_Feedback_Platform_0"><input onblur="saveColumnTextValue(this, 'Summary_Feedback', 'Platform')" class="platform" type="text" /></div></td>
        <td><div id="Summary_Feedback_Issue_0"></div><button onclick="editText(this);" class="btnEdit"></button></td>
        <td>
            <div id="Summary_Feedback_Tracker_0">
                <select id="ddlTracker_Feedback_0" onchange="ddlTrackerChange(this, 'Summary_Feedback', 'Tracker');">
                    <option value=""></option>
                @foreach (var u in ViewBag.UserList)
                {
                    <option value="@u.UserId">@u.UserName</option>
                }
                </select>
            </div>
        </td>
        <td><div id="Summary_Feedback_Status_0"><input onblur="saveColumnTextValue(this, 'Summary_Feedback', 'Status')" class="status" maxlength="50" type="text" /></div></td>
        <td><div id="Summary_Feedback_TrackInfo_0"></div><button onclick="editText(this);" class="btnEdit"></button></td>
        <td><button onclick="deleteData('', 0);" class="btnDeleteData"></button></td>
    </tr>
</table>
<div class="pageDiv">
    <span class="totalCount">总记录数：@ViewBag.TotalCount</span>
@if(ViewBag.TotalPage > 1){
    for(int i = 1; i <= ViewBag.TotalPage; i++)
    {
        if (ViewBag.PageIndex == i)
        {
    <span class="activeLink">@i</span>
        }else{
    <a href="javascript:void(0);" onclick="gotoPage('Summary', @i , 'Feedback')">@i</a>
        }
    }
}
</div>