@model IEnumerable<FoxReport.Models.SummaryTargetStrategy>

<table id="tbTargetStrategy" class="tbContent">
    <tr class="trContent"><th class="thSum1_1">项目名称</th><th class="thSum1_2">目标(现状)</th><th class="thSum1_3">策略与措施</th><th class="deleteTH">删除</th></tr>
@foreach (var item in Model)
{
    <tr id="trTargetStrategy@(item.Id)" class="trContent">
        @*<td><div id="Summary_TargetStrategy_ProjectName_@(item.Id)">@Html.Raw(item.ProjectName)</div><button onclick="editText(this);" class="btnEdit"></button></td>   *@ 
        <td><div id="Summary_TargetStrategy_ProjectName_@(item.Id)"><input onblur="saveColumnTextValue(this, 'Summary_TargetStrategy', 'ProjectName')" old="@item.ProjectName" value="@item.ProjectName" class="prjName1" maxlength="50" type="text" /> </div> </td>                      
        <td><div id="Summary_TargetStrategy_Target_@(item.Id)">@Html.Raw(item.Target)</div><button onclick="editText(this);" class="btnEdit"></button></td>
        <td><div id="Summary_TargetStrategy_Strategy_@(item.Id)">@Html.Raw(item.Strategy)</div><button onclick="editText(this);" class="btnEdit"></button></td>
        <td><button onclick="confirmDelete('Summary_TargetStrategy', @(item.Id));" class="btnDeleteData"></button></td>
    </tr>
}
    <tr id="trNewTargetStrategy" class="trContent trNewRow">
        @*<td><div id="Summary_TargetStrategy_ProjectName_0"></div><button onclick="editText(this);" class="btnEdit"></button></td>*@ 
        <td><div id="Summary_TargetStrategy_ProjectName_0"><input onblur="saveColumnTextValue(this, 'Summary_TargetStrategy', 'ProjectName')" value="" class="prjName1" maxlength="50" type="text" /></div></td>                           
        <td><div id="Summary_TargetStrategy_Target_0"></div><button onclick="editText(this);" class="btnEdit"></button></td>
        <td><div id="Summary_TargetStrategy_Strategy_0"></div><button onclick="editText(this);" class="btnEdit"></button></td>
        <td><button onclick="confirmDelete('', 0);" class="btnDeleteData"></button></td>
    </tr>
</table>
<div class="pageDiv">
    <span class="totalCount">总记录数：@ViewBag.TotalCount</span>
@if(ViewBag.TotalPage > 1){
    for(int i = 1; i <= ViewBag.TotalPage; i++)
    {
        if (ViewBag.PageIndex == i)
        {
    <span class="activeLink">@i</span>
        }else{
    <a href="javascript:void(0);" onclick="gotoPage('Summary', @i , 'TargetStrategy')">@i</a>
        }
    }
}
</div>